BOT_VK_TOKEN=""

TRELLO_APP_KEY=""
TRELLO_TOKEN=""

TRELLO_BOARD=""

TRELLO_LIST_CONTACTS=""
TRELLO_LIST_CHATS=""

TRELLO_LIST_EVENTS_DRAFT=""
TRELLO_LIST_EVENTS_OFFER=""
TRELLO_LIST_EVENTS_ACCEPTED=""
TRELLO_LIST_EVENTS_SUCCESS=""
TRELLO_LIST_EVENTS_SUCKER=""

CACHE_EXPIRES=86400
CACHE_LIMIT=1000

TRELLO_WEBHOOK_BASE_URL=""
TRELLO_WEBHOOK_PATH=""
